/**

!/.gitignore

!/Pinta
!/Pinta/palette.txt

!/VSCodium/
!/VSCodium/User
!/VSCodium/User/settings.json
!/VSCodium/User/keybindings.json

!alacritty/
!/alacritty/alacritty.toml

!clipse/
!/clipse/config.json
!/clipse/custom_theme.json

!globalStyle/
!globalStyle/wallpaper
!/globalStyle/genMissing.py
!/globalStyle/loadTheme.py
!/globalStyle/wallpaper/*
/globalStyle/wallpaper/*.png
/globalStyle/wallpaper/*.jpg
/globalStyle/wallpaper/*.jpeg

!/heroic/
!/heroic/config.json

!/hypr
!/hypr/**

!/micro/
!/micro/colorschemes/
!/micro/colorschemes/material-tc-custom.micro
!/micro/settings.json

!/solaar/
!/solaar/config.yaml

!/input-remapper-2/
!/input-remapper-2/presets
!/input-remapper-2/presets/Logitech**
!/input-remapper-2/config.json

!/tofi/
!/tofi/config

!/waypaper/
!/waypaper/config.ini

!/pavucontrol.ini

!/.zshrc
!/sync.sh
!/zshrc-themes/**
!/installedPackages
!/pihole-docker-compose.yml

!/README.md

!/eww/**
!/matugen/**
